.block {
  width: auto;
}

.block img {
  width: 100%;
}

.xs,
.sm,
.md,
.lg {
  padding: 0 5px;
}

.xs {
  width: 25%;
}

.sm {
  width: 33%;
}

.md {
  width: 50%;
}

.lg {
  width: 100%;
}

@media (max-width: 550px) {

  .xs,
  .sm,
  .md,
  .lg {
    width: 100% !important;
  }

}
