.hero-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 80px;
}

.hero {
  width: 100%;
  max-height: 1080px;
  height: 80vh;
  overflow: hidden;
  position: relative;
}

.hero-bg {
  background-color: #EFEFEF;
}

.hero-content {
  margin-top: 13rem;
  max-width: 1100px;
}

.hero-img {
  position: relative;
  height: 750px;
  width: 80%;
  max-width: 1280px;
  top: 50%;
  right: 0;
  margin-top: -20rem;
}

@media (max-width: 550px) {
  .hero {
    height: 100%;
  }

  .hero-content {
    margin-bottom: 6rem;
  }
}
