.header {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 99;
  width: 100%;
  margin-top: 50px;
}

.header .container {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 60%;
}

.logo-img {
  height: 50px;
  width: 50px;
  background: #404040;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 40%;
}

.navigation a {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
