.section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  margin-bottom: 60px;
}

@media (min-width: 550px) {
  .section {
    flex-direction: row;
  }
}
