.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

// Block Alignments
.align-top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.align-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}
