<template>
  <div :class="[_width, alignment]" class="block">
    <component
      v-for="(comp, index) in processDocument"
      :key="index"
      :is="isComp(comp)"
      v-bind="comp.props"
    />
  </div>
</template>

<script>
import { documentToHtmlString } from '@contentful/rich-text-html-renderer'
import { BLOCKS } from '@contentful/rich-text-types'
import Html from '@/components/Html'
import Button from '@/components/Button'
export default {
  name: 'Block',
  components: {
    Html,
    Button
  },
  props: {
    title: {
      type: String,
      default: ''
    },
    content: {
      type: Object,
      default: function() {
        return {
          nodeType: 'document',
          content: []
        }
      }
    },
    width: {
      type: Array,
      default: []
    },
    contentAlign: {
      type: Array,
      default: function() {
        return []
      }
    }
  },
  computed: {
    // The width function returns a value that is binded to the content block as a class based on the width array created in contenetful.
    _width() {
      return {
        // The string returned for each size is reflected in the width option array in contentful.
        // ex: '25%' is in the contentful block width property as a required field under 'Accept only specified values'
        xs: this.width[0] === '25%',
        sm: this.width[0] === '33%',
        md: this.width[0] === '50%',
        lg: this.width[0] === '100%'
      }
    },
    alignment() {
      switch (this.contentAlign[0]) {
        case 'top':
          return 'align-top'
        case 'bottom':
          return 'align-bottom'
        default:
          return 'align-center'
      }
    },
    processDocument() {
      if (this.content === null) {
        return []
      }
      const components = []
      let index = 0
      const options = {
        renderNode: {
          [BLOCKS.EMBEDDED_ENTRY]: (node) => {
            let component = {
              order: index,
              type: node.data.target.sys.contentType.sys.id,
              props: {
                ...node.data.target.fields
              }
            }
            components.push(component)
            return `<!-- --> <!-- component order:${index++} --> <!-- -->`
          },
          [BLOCKS.EMBEDDED_ASSET]: (node) => {
            return `<img src="${node.data.target.fields.file.url}" alt="${node
              .data.target.fields.description || ''}">`
          },
          [BLOCKS.PARAGRAPH]: (node, next) =>
            `<p>${next(node.content).replace(/\n/g, '<br/>')}</p>`
        }
      }
      function reduceComponents(string, comps) {
        return string.split('<!-- -->').map((item) => {
          let isComp = /<!-- component order:\d+ -->/.test(item)
          let order = parseInt(item.match(/(?!order:)\d+/))
          if (isComp) {
            return comps[order]
          }
          return {
            type: 'html',
            props: {
              html: item
            }
          }
        })
      }
      return reduceComponents(
        documentToHtmlString(this.content, options),
        components
      )
    }
  },
  methods: {
    isComp(comp) {
      if (comp.type === 'html') {
        return Html
      }
      if (comp.type === 'button') {
        return Button
      }
    }
  }
}
</script>
