<template>
  <div>
    <component
      v-for="(comp, index) in processDocument"
      :key="index"
      :is="isComp(comp)"
      v-bind="comp.props"
    />
  </div>
</template>

<script>
import { documentToHtmlString } from '@contentful/rich-text-html-renderer'
import { BLOCKS } from '@contentful/rich-text-types'
import ButtonComponent from '@/components/Button'
import Section from '@/components/Section'
import Html from '@/components/Html'
export default {
  name: 'BodyComponent',
  components: {
    ButtonComponent,
    Section,
    Html
  },
  props: {
    body: {
      type: Object,
      default: function() {
        return {
          content: [],
          data: {},
          nodeType: 'document'
        }
      }
    }
  },
  computed: {
    processDocument() {
      if (this.body === null) {
        return []
      }
      const components = []
      let index = 0
      const options = {
        renderNode: {
          [BLOCKS.EMBEDDED_ENTRY]: (node) => {
            let component = {
              order: index,
              type: node.data.target.sys.contentType.sys.id,
              props: {
                ...node.data.target.fields
              }
            }
            components.push(component)
            return `<!-- --> <!-- component order:${index++} --> <!-- -->`
          }
        }
      }
      function reduceComponents(string, comps) {
        return string.split('<!-- -->').map((item) => {
          let isComp = /<!-- component order:\d+ -->/.test(item)
          let order = parseInt(item.match(/(?!order:)\d+/))
          if (isComp) {
            return comps[order]
          }
          return {
            type: 'html',
            props: {
              html: item
            }
          }
        })
      }
      return reduceComponents(
        documentToHtmlString(this.body, options),
        components
      )
    }
  },
  methods: {
    // Renders component based on whats created in contentful and returns vue component imported above.
    isComp(comp) {
      if (comp.type === 'button') {
        return ButtonComponent
      }
      if (comp.type === 'section') {
        return Section
      }
      if (comp.type === 'html') {
        return Html
      }
    }
  }
}
</script>

<style></style>
