<template>
  <!-- :href="url" is binding the url string from the irl prop -->
  <v-btn depressed large :href="url" class="button">
    {{ title }}
  </v-btn>
</template>

<script>
export default {
  name: 'ButtonComponent',
  props: {
    title: {
      type: String,
      default: ''
    },
    url: {
      type: String,
      default: ''
    }
  }
}
</script>

<style></style>
