<template>
  <div class="hero-wrap">
    <div
      class="hero hero-bg"
      v-bind:style="{
        background: 'url(' + src + ')',
        backgroundSize: 'cover',
        backgroundRepeat: 'none',
        backgroundPosition: 'center center'
      }"
    >
      <v-container>
        <div class="hero-content">
          <h1>{{ lead }}</h1>
          <h2>
            {{ subLead }}
          </h2>
        </div>
      </v-container>
    </div>
    <!-- <img :src="src" :alt="lead" class="hero-img" /> -->
  </div>
</template>

<script>
export default {
  name: 'HeroComponent',
  props: {
    img: {
      type: String,
      default: ''
    },
    lead: {
      type: String,
      default: ''
    },
    subLead: {
      type: String,
      default: ''
    },
    src: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    }
  }
}
</script>

<style scoped></style>
