<template>
  <!-- returns binded html prop -->
  <v-container v-if="html" class="html" v-html="html" />
</template>

<script>
export default {
  name: 'Html',
  props: {
    // This HTML prop passes through all regular html text and renders it through documentToHtmlString() in the body component mainly, or any other component that imports this.
    html: {
      type: String,
      default: ''
    }
  }
}
</script>

<style>
.html {
  margin: 0;
  padding: 0;
}
</style>
