<template>
  <div class="header">
    <v-container>
      <div class="logo">
        <div class="logo-img"></div>
      </div>
      <div class="navigation">
        <div v-for="(item, i) in navigationItems" :key="i">
          <a :href="item.fields.url">{{ item.fields.title }}</a>
        </div>
      </div>
    </v-container>
  </div>
</template>

<script>
export default {
  name: 'Navigation',
  computed: {
    navigationItems() {
      return this.$store.state.navigationItems
    }
  }
}
</script>

<style scoped></style>
