<template>
  <div>
    <!-- <h1>{{ title }}</h1> -->
    <div class="section">
      <component
        v-for="(block, i) in blocks"
        :key="i"
        :id="block.sys.id"
        :is="compIs(block)"
        :index="i"
        v-bind="block.fields"
      />
    </div>
  </div>
</template>

<script>
import Html from '@/components/Html'
import Block from '@/components/Block'
export default {
  name: 'Section',
  components: {
    Html,
    Block
  },
  props: {
    title: {
      type: String,
      default: ''
    },
    blocks: {
      type: Array,
      default: function() {
        return []
      }
    }
  },
  methods: {
    // compIs function checks for each component type and returns based on whats added to the page section
    compIs(comp) {
      if (comp.sys.contentType.sys.id === 'block') {
        return Block
      }
      if (comp.sys.contentType.sys.id === 'html') {
        return Html
      }
    }
  }
}
</script>
