<template>
  <div v-scroll="onScroll">
    <navigation @toggle-drawer="drawer = !drawer" />
    <v-content>
      <nuxt />
    </v-content>
    <footer-component />
  </div>
</template>

<script>
import FooterComponent from '@/components/Footer'
import Navigation from '@/components/Navigation'
import '../assets/main.scss'
export default {
  components: { FooterComponent, Navigation },
  data() {
    return {
      drawer: false
    }
  },
  methods: {
    onScroll() {
      console.log('hello hello hello')
    }
  }
}
</script>
