<template>
  <div>
    <!-- Hero image component -->
    <hero-component
      v-if="content.hero"
      :src="content.hero.img"
      :alt="content.hero.title"
      :lead="content.hero.lead"
      :subLead="content.hero.subLead"
    />
    <!-- Binds richTextHtml from return statement in asyncData in export below -->
    <!-- <div v-html="richTextHtml"></div> -->
    <v-container>
      <div v-if="content.body">
        <!-- :body="body" binds the body props from the imported body component and passes them through to this body component to render on the page -->
        <body-component :body="content.body" />
      </div>
    </v-container>
  </div>
</template>

<script>
import { createClient } from '~/plugins/contentful.js'
import { pageAdapter } from '~/utils/pageAdapter'
import { documentToHtmlString } from '@contentful/rich-text-html-renderer'
import BodyComponent from '@/components/Body'
import HeroComponent from '@/components/Hero'
import mixins from '@/mixins/mixins'

const client = createClient()

export default {
  name: 'ContentfulPage',
  components: {
    BodyComponent,
    HeroComponent
  },
  head() {
    return {
      title: process.env.SITE_TITLE + ' | ' + this.content.description
    }
  },
  // async call to contentful
  async asyncData({ route, params }) {
    const { items } = await client.getEntries({
      // identifies page template by contentful page slug
      'fields.slug': 'home',
      // includes 3 layers deep of content. This can be increased if needed.
      include: 4,
      // identifies page template by contentful api content type
      content_type: 'page'
    })

    // returns content from body field and converts to rendered html
    return { content: pageAdapter(items[0].fields) }
  }
}
</script>
