// Imports
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700&display=swap');

h1,
h2,
h3,
h4 {
  color: #707070;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
}

.hero-content h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 60px;
  line-height: 73px;
  margin-bottom: 20px;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero-content h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 20px;
  line-height: 30px;
  width: 75%;
}

@media (max-width: 550px) {
  .hero-content h1 {
    font-size: 32px;
    line-height: 43px;
  }

  .hero-content h2 {
    font-size: 16px;
    line-height: 20px;
    width: 100%;
  }
}

p {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  color: #707070;
  margin-bottom: 10px;
}

a.v-btn {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  color: #404040;
}
